<section class="swiper-container">
  <swiper
    [slidesPerView]="'auto'"
    [spaceBetween]="0"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <div class="image-wrap">
        <img src="assets/images/JEI_1.png">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="image-wrap">
        <img src="assets/images/JEI_2.png">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="image-wrap">
        <img src="assets/images/JEI_3.png">
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="image-wrap">
        <img src="assets/images/JEI_4.png">
      </div>
    </ng-template>

  </swiper>
</section>

<hr>

<section class="image-list">
  <a href="assets/images/JEI_2.png" target="_blank">
    <img src="assets/images/JEI_2.png">
  </a>
  <a href="assets/images/JEI_1.png" target="_blank">
    <img src="assets/images/JEI_1.png">
  </a>
  <a href="assets/images/JEI_3.png" target="_blank">
    <img src="assets/images/JEI_3.png">
  </a>
  <a href="assets/images/JEI_4.png" target="_blank">
    <img src="assets/images/JEI_4.png">
  </a>
</section>
