<h2>Changelog</h2>
<p>Current release 9.7.0</p>
<ul>
  <li>Fix concurrent modification exception when a recipe manager plugin crashes - mezz</li>
  <li>Update sv_se.json (#2836) - A. Regnander</li>
  <li>Updated Russian Translation (#2799) - DrHesperus</li>
  <li>Fix #2812 Add a keybind for the key to exit a recipe screen to the inventory - mezz</li>
  <li>Allow focuses to match multiple ingredients in a recipe slot - mezz</li>
  <li>Fix #2790 Recipes are listed twice when checking the uses of an ingredient that is also a catalyst - mezz</li>
</ul>


