<div class="info-container">
  <img src="assets/icons/icon_1.jpeg">
  <div class="info">
    <p>Just Enough Items (JEI)
      <mat-icon
        matTooltip="JEI is an item and recipe viewing mod for Minecraft, built from the ground up for stability and performance."
        matTooltipClass="mat-tooltip-green"
      >info
      </mat-icon>
    </p>
    <p>
      <span>Downloads: 166.7M</span>
      <span>Last update: Apr 30, 2022</span>
      <span>Created: Nov 24, 2015</span>
    </p>
    <p>Created by:<a>mezz</a> / Compability: <br> <a>Forge</a></p>
  </div>
</div>


