<h1>FAQ:</h1>

<div>
  <ul>
    <li>Can I include JEI in my mod pack?</li>
    <li>Of course!</li>
  </ul>

  <ul>
    <li>Can JEI run client-only, or with a vanilla server?</li>
    <li>Yes, with some features disabled:</li>
  </ul>

  <ul>
    <li>The "Move items into crafting area" [+] buttons.</li>
    <li>Cheating in items that have lots of NBT data.</li>
  </ul>

  <ul>
    <li>Deleting items.</li>
    <li>Where can I find the ___ feature from NEI?</li>
  </ul>

  <ul>
    <li>The chart here shows which mods support each feature.</li>
    <li>I have an issue / bug / crash / report / request, where can I send it?</li>
  </ul>
</div>
