:host {
  display: flex;
  width: fit-content;
  max-width: 30px;
  max-height: 30px;

  span {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-gray);

    &.danger {
      background-color: var(--color-red);
    }

    &.warn {
      background-color: var(--color-blue);
    }

    &.safe {
      background-color: var(--color-green);
    }
  }
}
