<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>

<div class="card">
  <svg xmlns="http://www.w3.org/2000/svg" width="350" height="400" viewBox="0 0 350 400">
    <circle class="big" cx="50" cy="50" r="3"/>
    <circle cx="210" cy="40" r="1"/>
    <circle class="medium" cx="65" cy="170" r="2"/>
    <circle class="big" cx="165" cy="210" r="3"/>
    <circle cx="50" cy="260" r="1"/>
    <circle class="medium" cx="35" cy="350" r="2"/>
    <circle class="big" cx="200" cy="350" r="3"/>
    <path
      fill="transparent" stroke="white" stroke-width="1"
      d="M 50 50 L 210 40 M 50 50 L 65 170 L 50 260 M 165 210 L 65 170 M 165 210 L 50 260 M 200 350 L 35 350 L 50 260 "
    />
  </svg>
</div>

